<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.mapper.OpinionMapper">

    <resultMap type="opinion" id="opinionMap">
        <id property="id" column="id"/>
        <result property="intro" column="intro"/>
        <result property="details" column="details"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
    </resultMap>


    <insert id="insertOpinion" parameterType="Opinion">
        insert into opinion (intro, details, creator_id, create_time, STATUS)
        values (#{intro}, #{details}, #{creatorId}, #{createTime}, #{status})
    </insert>

    <select id="count" resultType="int">
        select count(1) from opinion a,user b
        where a.CREATOR_ID = b.id
        <if test="id!=null and id!=''">
            AND a.ID =#{id}
        </if>
        <if test="userId!=null and userId!=''">
            AND b.ID =#{userId}
        </if>
        <if test="intro!=null and intro!=''">
            AND a.INTRO like '%${intro}%'
        </if>
        <if test="status!=null and status!=''">
            AND a.STATUS like '${status}%'
        </if>
    </select>

    <select id="listOpinion" parameterType="HashMap" resultType="HashMap">
        select a.id as id,
        a.intro as intro,
        a.details as details,
        a.creator_id as creatorId,
        a.create_time as createTime,
        a.status as status,
        b.name as name,
        b.RNAME as rname
        from opinion a,user b
        where a.CREATOR_ID = b.id
        <if test="id!=null and id!=''">
            AND a.ID =#{id}
        </if>
        <if test="id!=null and id!=''">
            AND a.ID =#{id}
        </if>
        <if test="userId!=null and userId!=''">
            AND b.ID =#{userId}
        </if>
        <if test="intro!=null and intro!=''">
            AND a.INTRO like '%${intro}%'
        </if>
        <if test="status!=null and status!=''">
            AND a.STATUS like '${status}%'
        </if>
        order by a.create_time desc
        <if test="start!=null and start!='' and limit!=null and limit!=''">
            limit ${start},${limit}
        </if>
    </select>

    <delete id="deleteOpinion" parameterType="String">
        delete from opinion
        WHERE ID in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateOpinion" parameterType="HashMap">
        update opinion
        set INTRO   = #{intro},
            DETAILS = #{details}
        where ID = #{id}
    </update>

    <update id="updateStatus">
        update opinion set STATUS = #{status} where ID in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>


</mapper>